/* * {
    border: 1px dotted blue;
} */


.route {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
    background: #eee;
    color: #666666;
}


.jumbotron {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.airportForm {
    margin: 0 auto;
    border-width: 2px;
    border-color: blue;
    border-radius: 4px 4px 0 0;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    padding-top: 200px;
    background-color: rgba(0,0,0, 0.5);
}

/*.panel {
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2), 0 10px 27px rgba(0,0,0,0.7);
  border-radius:4px;
  box-sizing: border-box;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -240px 0 0 -250px;
  opacity: 0;
 } */ 

.container {
    max-width: 730px;
    padding: 10px 30px 30px;
    text-align: center;
}

input {
    height: 25px;
}

#formContainer {
    max-width: 900px;
    padding: 10px 30px 30px;
    text-align: center;
}

.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}

.route {
    *zoom: 1;
  /*  -webkit-transition: all 50ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 50ms 0ms ease-in;
    -o-transition: all 50ms 0ms ease-in;
    transition: all 50ms 0ms ease-in; */ 
    position: relative;
    opacity: 1;
}

input#origin.form-control, input#destination.form-control {
    height: 45px;
    margin: 10px;
}

.table {
    display: none;
}

.routesTable {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.formHead {
    text-align: center;
}

.about {
    padding: 100px;
    text-align: left;
}

#registerForm, #loginForm {
    margin: 0 auto;
    padding: 10px;
    width: 500px;
    background: white;
    border-radius: 10px;
}

#save, #file {
    width: 100px;
    padding: 10px;
}

#registerForm input, #loginForm input {
    height: 30px;
}



footer {
    text-align: right;
    padding-right: 100px;
}