/* * {
    border: 1px dotted blue;
} */


.route {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
    background: #eee;
    color: #666666;
}


.jumbotron {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.form-group.airportForm {
    margin: 0 auto;
    border-width: 2px;
    border-color: blue;
    border-radius: 4px 4px 0 0;
}

.container {
    max-width: 730px;
    padding: 10px 30px 30px;
    text-align: center;
}

.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}

.route {
    *zoom: 1;
  /*  -webkit-transition: all 50ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 50ms 0ms ease-in;
    -o-transition: all 50ms 0ms ease-in;
    transition: all 50ms 0ms ease-in; */ 
    position: relative;
    opacity: 1;
}

input.form-control {
    height: 45px;
    margin: 10px;
}

.table {
    display: none;
}

.routesTable {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.about {
    padding: 100px;
    text-align: left;
}

footer {
    text-align: right;
    padding-right: 100px;
}